<div class="container" style="border: red 1px solid;">
  <h1>Matches</h1>
  <select name="year" id="year" ng-model="ft.selectedYear" ng-options="year for year in ft.years">
  </select>
  <select name="matchday" id="matchday" ng-options="matchday for matchday in ft.matchdays" ng-model="ft.selectedMatchday">
  </select>
  <table class="table table-responsive">
    <thead>
      <tr>
        <th>Sl. No</th>
        <th>Home team</th>
        <th>Score</th>
        <th>Away team</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <strong>1</strong>
        </td>
        <td>manchester united</td>
        <td>
          <strong>32 - 0</strong>
        </td>
        <td>chelsea</td>
      </tr>
      <tr></tr>
    </tbody>
    <tbody></tbody>
  </table>
</div>